@import 'elements/carousel';

.divider {
  padding: 0 5px;
}

.btn {
  border: none;
  padding: 6px 11px;
  cursor: pointer;
}

.btn-primary {
  background-color: #0084d9;

  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul.norm-ul {
  padding-left: 40;
  list-style-type: disc;
}

ul.nav-tabs {
  a {
    margin-right: -4px;
    padding: 14px 36px 11px;
    display: inline-block;

    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;

    color: #5f6062;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 1px 1px white;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      background-color: rgba(72, 85, 102, .16);
    }
  }

  li {
    height: 40px;
    display: inline-block;

    &:last-child a {
      padding-right: 40px;
    }

    &.active a {
      margin-top: -6px;
      padding-top: 19px;

      background-color: white;
      border-left: 1px solid #bdbdbd;
      border-right: 1px solid #bdbdbd;
      border-bottom: none;
    }
  }

  background: linear-gradient(to top, rgba(0,0,0,.19), rgba(255,255,255,.19));
}

.heading {
  padding: 9px;

  h3 {
    margin: 0;

    font-size: 12px;
    font-weight: bold;
    letter-spacing: .3px;
    text-transform: uppercase;
  }

  .icon {
    float: left;
    margin-right: 10px;
  }

}

.heading-primary {
  background-color: #0084d9;

  h3 {
    color: white;
  }
}

.heading-overhang {
  position: relative;
  left: -33px;
  width: calc(100% + 33px);

  &:after {
    position: absolute;
    display: block;
    
    width: 13px;
    height: 5px;
    bottom: -5px;
    left: 0px;

    background-image: url("/images/icons/heading-fold.png");
    content: "";
  }
}

.cta-box {
  background-color: #dbdbdb;
  padding: 10px;
  margin-bottom: 20px;
  overflow: auto;

  img {
    float: left;
    margin: 1px 10px 0 0;
  }

  h3 {
    line-height: 13px;
  }

  hr {
    opacity: 1;
    margin: 10px 0;
    border-bottom: none;
  }

  input[type="text"] {
    padding: 4px 7px;
    width: 100%;
    margin: 3px 0;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
  }

  .heading {
    background-color: #dbdbdb;
    padding: 0;
  }

  .well {
    padding: 10px;
    margin: 10px 0;
    background-color: #cac9c9;
  }

  .prompt {
    font-style: italic;
  }

  .options {
    margin-top: 8px;
  }
}

.cta-footer {
  clear: both;
  margin: 0 -10px -10px;

  text-align: center;

  line-height: 24px;
  background-color: #cac9c9;
  border-top: 1px solid #969696;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}