.main-header {
  margin-top: 20px;
  margin-bottom: 5px;
}

.main-header-actions {
  float: right;
  width: 260px;

  a {
    text-decoration: none;
    color: white;
  }

  ul {
    color: white;
    padding: 0;

    li {
      display: inline-block;
    }
  }

  .divider {
    padding: 0 5px;
  }
}

.main-header-search {
  width: 100%;
  padding: 5px;  
  margin: 10px 0 5px;
}