@import '../vars';

.carousel-active {
  margin-bottom: 10px;
  position: relative;

  h1 {
    font-size: 24px;
    text-transform: uppercase;
  }

  h1, p {
    margin: 0;
  }

  p {
    font-size: 14px;
  }

  .img-caption {
    padding: 12px 15px;
  }
}

.carousel-slide {
  display: none;

  &.carousel-active {
    display: block;
  }
}

.carousel-thumbs {
  li {
    float: left;
    display: block;
    position: relative;
    width: 159px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      &:before {
        border: 3px solid $blue;
        width: 153px;
        height: 73px;
        content: "";
        position: absolute;
      }

      &:after {
        position: absolute;
        left: 45%;
        top: -8px;
        display: block;
        content: "";

        /* Triangle from:  http://apps.eky.hk/css-triangle-generator/  */
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 5px 8.7px 5px;
        border-color: transparent transparent #007bff transparent;
      }
    }
  }
}