.carousel {

}

.carousel-active {
  margin-bottom: 10px;
  position: relative;

  h1 {
    font-size: 24px;
    text-transform: uppercase;
  }

  h1, p {
    margin: 0;
  }

  p {
    font-size: 14px;
  }

  .img-caption {
    padding: 12px 15px;
  }
}

.carousel-thumbs {
  li {
    float: left;
    display: block;
    width: 159px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}